NEXT_PUBLIC_SITE_URL=https://killough.works
NEXT_PUBLIC_BOOKING_URL=
NEXT_PUBLIC_STRIPE_FRICTION_CHECK_URL=https://buy.stripe.com/28E4gz2DDf66bXA0m41ZS04
NEXT_PUBLIC_STRIPE_FIRST_FIX_URL=https://buy.stripe.com/5kQbJ11zzaPQ9Ps7Ow1ZS05
NEXT_PUBLIC_STRIPE_MINI_BUILD_URL=https://buy.stripe.com/aFa4gz6TTaPQ4v81q81ZS03
RESEND_API_KEY=
INTAKE_TO_EMAIL=hello@killough.works
INTAKE_FROM_EMAIL=Killough Works <onboarding@resend.dev>
